main{
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.all-listing-page {
    min-height: 68dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
}

/* Listing Container Styling */

.listings-container {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listing-card-containers{
    max-width: 1100px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}

.card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.card-text {
    display: flex;
    justify-content: space-between;
}

.avg-rating i {
    font-size: 0.8rem;
}

/* Show EJS styling */

.show-stay-details {
    margin: 3rem 4rem;
    background-color: white;
    padding: 2rem;
}

.review-card {
    background-color: #E7E7E7 !important;
    border-radius: 0 !important;
    border: none !important;
}

/* New Listing form */
.en-listing-form-border {
    width: 80%;
    background: transparent;
    padding: 1rem;
    margin-top: 1rem;
    border: 2px solid black;
}

.en-listing-form-container {
    background-color: rgb(214, 214, 214, 0.8);
    padding: 1rem;
}